@using PizzeriaWebView.Controllers
@model IEnumerable<ForgeServiceDAL.ViewModel.PizzaViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Index", "Pizza")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PizzaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PizzaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PizzaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PizzaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PizzaId}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PizzaId})
        </td>
    </tr>
}

</table>
