@model IEnumerable<BeautyServiceDAL.ViewModels.ResourseViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ResourseName)
        </th>

		<th>
			@Html.DisplayNameFor(model => model.ResoursePrice)
		</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ResourseName)
        </td>

		<td>
			@Html.DisplayFor(modelItem => item.ResoursePrice)
		</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResourseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResourseId })
        </td>
    </tr>
}

</table>
